<!doctype html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',
filename='style.css')}}">
</head>
<ul>
  <li><a href=" {{ url_for('welcome') }}">Welcome</a></li>
  <li><a href=" {{ url_for('films') }}">Films</a></li>
  <li><a href=" {{ url_for('actors') }}">Actors</a></li>
  <li><a href=" {{ url_for('search') }}">Search</a></li>
  <li><a href=" {{ url_for('add') }}">Add</a></li>
</ul>

  <form action="../search/?key=" % name method="get" name="form">
    <label for="search"Search:</label>
    <input type="text" name="key" id="search"/>
    <input type="submit" name="submit" id="submit"/>
  </form>

{% for actor in actor %}
<p>
<strong>Name:</strong> {{ actor.name }}<br>
<strong>Age:</strong> {{ actor.age}}<br>
<strong>Known For:</strong> {{ actor.known_for}}<br>
<strong>Nationality:</strong> {{actor.nationality}}<br>
</p>
{% endfor %}
</body>
</html>
