<!doctype html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',
filename='style.css')}}">
</head>
<ul>
  <li><a href=" {{url_for('welcome') }}">Welcome</a></li>
  <li><a href=" {{url_for('films') }}">Films</a></li>
  <li><a href=" {{url_for('actors') }}">Actors</a></li>
  <li><a href=" {{url_for('search') }}">Search</a><li>
  <li><a href=" {{url_for('add') }}">Add</a><li>
</ul>

<h1> Add Data to Database - Film </h1>

<form action = "../add/" method = "post">
  Film Name:<br>
  <input type="text" name="name">
  <br>
  Year:<br>
  <input type="text" name="yoc">
  <br>
  Main Actor:<br>
  <input type="text" name="main_actor">
  <br>
  Genre:<br>
  <input type="text" name="genre">
  <br>
  <input type="submit" Value="submit">
</form>
  


