<!doctype html>
<body>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li{
  float: left;
}

a:link, a:visited{
  display: block;
  width: 120px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #98bf21;
  text-align: center;
  padding: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:active{
  background-color: #7A991A;
}
</style>

<ul>
  <li><a href=" {{ url_for('welcome') }}">Welcome</a></li>
  <li><a href=" {{ url_for('artist') }}">Films</a></li>
  <li><a href=" {{ url_for('album') }}">Actors</a></li>
  <li><a href=" {{ url_for('search') }}">Search</a><li>
</ul>

  <form action="../search/?key=" % name method="get" name="form">
    <label for="search"Search:</label>
    <input type="text" name="key" id="search"/>
    <input type="submit" name="submit" id="submit"/>
  </form>

{% for film in film %}
<p>
<strong>Name:</strong> {{ film.name }}<br>
<strong>Year:</strong> {{ film.yoc }}<br>
<strong>Main Actor:</strong> {{ film.main_actor }}<br>
<strong>Genre:</strong> {{ film.genre }}<br>
</p>
{% endfor %}
</body>
</html>
