<!doctype html>
<body>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',
filename='style.css')}}">
</head>
<ul>
  <li><a href=" {{ url_for('welcome') }}">Welcome</a></li>
  <li><a href=" {{ url_for('artist') }}">Films</a></li>
  <li><a href=" {{ url_for('album') }}">Actors</a></li>
  <li><a href=" {{ url_for('search') }}">Search</a><li>
</ul>

    <form action="../search/?key="  method="get" name="form">
      <label for="search"Search:</label>
      <input type="text" name="key" id="search"/>
      <input type="submit" name="submit" id="submit"/>
    </form>

{% for name in name%}
<p>
<strong>Name:</Strong>{{ name.name }}<br>
<strong>Nationality:</Strong>{{ name.yoc }}<br>
<strong>Year Formed:</Strong>{{ name.main_actor }}<br>
<Strong>Genre:</Strong>{{ name.genre }}<br>
</p>
{% endfor %}
</body>
</html>
